<h1>new subscription on landing page</h1>

<ul>

 <li>Prénom : <%= @user.first_name %></li>
 <li>Nom : <%= @user.last_name %></li>
 <li>Type : <%= @user.organisation_type %></li>
 <li>Orga : <%= @user.organisation %></li>

</ul>
