<div class="navbar-wagon">
  <!-- Logo -->
  <a href="#" class="navbar-wagon-brand">
    <%= image_tag "quickbed_logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">




    <!-- Text link -->
    <a href="#" class="navbar-wagon-item navbar-wagon-link js-subscription-form">Nous Contacter</a>

    <!-- Text link -->
    <a href="#" class="navbar-wagon-item navbar-wagon-link js-scroll-story">Objectifs</a>
  </div>
</div>
