
.has-error > label {
  color: #1436CC
}

.alert-info {
  position: absolute;
  width: 100%;
}
.helper {
  background-color: #6C6D70;
  color: white;
  padding: 15px;
}
.base-logo {
  width: 500px;
  margin-top: -200px;
}

.feature-helper{
  background-color: #4497DB;
  color: white;
}
.feature-host{
  background-color: #4497DB;
  color: white;
}
.subscribe {
  background-color: #FFAB4A;
  color: white;
}
.host {
  background-color: #6C6D70;
  color: white;
  padding: 15px;
}
.background-cover {
  background-color: #4497DB;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  min-height: 661px;
}
.simplify{
  margin-left: 30px;
}
.fa-cog{
  margin-top: 11px;
}

.btn-success {
  background-color: #FFAB4A;
  border: #FFAB4A;
}

.adjust {
  margin-top: -10px;
}
.btn-success:hover {
  background-color: #FF3D00;
}
.btn-primary {
  background-color: #49659E;
  border: #49659E;
}
// .card-img{height: 500px}
.helping {
  margin: 20px
}
.functionnality_desc {
  margin-top: 25%;
  margin-bottom: 40%;
}


.quickbed {
  padding-top: 150px;
}

.btn-marged {
  margin: 20px 0px 20px 10px;
}

.title {
  font-size: 4em;
}

.punchline {
  font-size: 2em;
  margin-top: -165px;
}

.option-title {
  font-size: 2em;
}

.options {
  margin-top: 30px;
}


#story {
  background-image: linear-gradient(135deg, rgba(0,0,0,-0.2) 0%, rgba(0,0,0,-0.8) 50%);
  background-color: #FFAB4A;
  color: white;
  padding: 50px;
}

.fa {
  font-size:200px;
}
